@media only screen and (max-width: 768px) {
  // body styles

  * {
    border-radius: none;
    font-family: OpenSans, sans-serif;
  }

  .header-two {
    font-size: 20px;
    color: $primaryColor;
    letter-spacing: 2%;
  }

  .subHeader-two {
    font-size: 18px;
    color: $secondaryColor;
    letter-spacing: 2%;
    margin: 0.5vw 0px;
  }

  .paragraph-two {
    font-size: 16px;
    color: $blackPrimary;
    letter-spacing: 1%;
    line-height: 30px;
  }

  //  general styles
  .img {
    width: 90vw;
    margin: auto;
  }

  // header styles
  .desktop-header {
    display: none;
  }

  .mobile-header {
    position: fixed;
    z-index: 99;
    width: 100vw;
    padding: 0px 5vw;
  }

  .main-row {
    display: flex;
    justify-content: space-between;
  }

  .menu,
  .logo {
    padding: 4vw;
    cursor: pointer;
  }

  .menu {
    background-color:  #e1e2a0;
    color : white;
    border-radius: 14px;
    box-shadow: inset -9px -9px 18px rgba(255, 253, 253, 0.25),
      inset 9px 9px 18px rgba(0, 0, 0, 0.25);
  }

  .logo {
    color: $primaryColor;
    font-size: 18px;
    letter-spacing: 2%;
  }

  .show {
    width: 100%;
    transition: 1s;
    // background-color: $lightPrimary;
    background-color:  #e1e2a0;
  }

  .hide {
    width: 0;
    overflow: hidden;
    transition: 1s;
  }

  #sliding-nav {
    padding: 1vw 0px;
    display: inline-flex;
    transition: 1s;
    color: white;
    gap: 3vw;
    white-space: nowrap;
    overflow: auto;
  }

  .list-item {
    cursor: pointer;
  }

  // showcase styles
  .showcase {
    .img {
      width: 100vw;
    }
    p {
      padding: 0px 5vw;
    }
  }

  // aim styles
  .aim {
    margin: 4vw 0px;
    padding: 0px 5vw;
  }

  // sitting styles

  .sitting {
    margin: 8vw 0px;
    padding: 0px 5vw;
  }

  // .sit-img {
  //   box-shadow: (0px 18px 14px rgba(0, 0, 0, 0.15)),
  //     (0px -18px 4px rgba(219, 219, 219, 0.2));
  // }

  //standing styles
  .standing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .row {
      background-image: $pink;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .img {
        order: 1;
        border-radius: 14px;
        width: 100vw;
      }
      .paragraph-two {
        order: 2;
        padding: 0px 5vw;
      }
    }
    margin: 8vw 0px;
    padding: 0px 5vw;
  }

  //wallking styles
  .walking {
    margin: 8vw 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .img {
      order: 1;
      width: 100vw;
      border-radius: 14px;
      margin: auto;
    }
    .context {
      order: 2;
      padding: 0px 5vw;
    }
  }

  //sleeping styles
  .sleeping {
    margin: 8vw 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: $pink;
    .img {
      width: 100vw;
      padding-top: 5vw;
      order: 1;
      border-radius: 14px;
    }
    .context {
      text-align: center;
      order: 2;
      padding: 0px 5vw;
    }
  }

  .mistakes {
    padding: 0px 5vw;
  }

  // exercise
  .exercise {
    margin: 8vw 0px;
    background-image: $pink;
    padding: 0px 5vw;
    .header-two {
      text-align: center;
    }
    .img {
      padding-top: 5vw;
      border-radius: 14px;
    }
  }

  // disadvantages styles
  .disadvantages {
    margin: 8vw 0px;
    padding: 0px 5vw;
  }

  //advantages styles
  .benefits {
    margin: 8vw 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .img {
      width: 100vw;
      padding: 5vw;
      order: 1;
      border-radius: 14px;
      background-image: $pink;
    }
    .context {
      order: 2;
      padding: 0px 5vw;
    }
  }

  //  footer styles`
  .footer {
    text-align: center;
    padding: 0px 5vw;
  }

  .disclaimer-evnt {
    padding: 1vw;
    // @extend .paragraph-two;
    // font-size: 20px;
    margin-top: 1vw;
    border: 2px solid $darkPrimary;
  }

  .disclaimer {
    display: block;
    text-align: center;
  }

  .close {
    display: none;
  }
}
